# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\atia4\Desktop\מדמח אשקלון\סמסטר ב\מונחי עצמים 2\Store-EX1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
